# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Github\NNEDI3 codebase based on best match to current usage at 2021. 02. 28.
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# top-most EditorConfig file
root = true

[*.{cpp,h,hpp,c,asm}]
indent_style = space
indent_size = 4
